# XContral systemd service file

[Unit]
Description=XEngine Backstage Service
Documentation=http://www.xyry.org
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
PIDFile=/run/xcontral.pid
ExecStart=/usr/sbin/XEngine_XContral/XEngine_XContralApp
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
